<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wastes control</title>

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link
            rel="stylesheet"
            href="/css/login.css"
            th:href="@{/css/login.css}" />


</head>

<body>
<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form action="/registration" method="post">
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Sign up</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>sign up here using your email and password</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!--   user name -->
                <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
                <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Email" name="email" required>

                <br>

                <!--   Password -->

                <span class="input-item">
        <i class="fa fa-key"></i>
       </span>
                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>

                <!--      Show/hide password  -->
                <span>
        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
     </span>


                <br>
                <!--        buttons -->
                <!--      button LogIn -->
                <button class="log-in" type="submit"> Sign up </button>
            </div>

            <!--   other buttons -->
            <div class="other">
                <button class="btn submits frgt-pass" type="button">Forgot Password</button>
                <!--      Forgot Password button-->
                <!--     Sign Up button -->
                <a href="/login"><button class="btn submits sign-up" type="button">Sign In
                    <!--         Sign Up font icon -->
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button></a>
                <!--      End Other the Division -->
            </div>
            <!--   End Conrainer  -->
        </div>

        <!-- End Form -->
    </form>
</div>

</body>
</html>
